<!--Counter-->
<h2 class="my-4"><span class="text-primary">{{ bookList.length }}</span> Available Books</h2>
<!--Options section-->
<section>
  <form [formGroup]="filtersForm" class="row g-1 g-sm-5 d-sm-flex align-items-center">
    <!--Search-->
    <div class="col-12">
      <label for="typeahead-basic">Search for a title:</label>
      <div class="input-group">
        <input
          id="typeahead-basic"
          type="text"
          class="form-control with-clear-btn"
          [ngbTypeahead]="search"
          formControlName="currentTitleSearch"
        />
        <div class="btn-group">

          <!--Search button -->
          <button
            class="btn btn-outline-light"
            (click)="onSearchBook()"
            [disabled]="filtersForm.get('currentTitleSearch')?.value === ''"
          >
            <i class="bi bi-search text-light-emphasis input-group-text p-1"></i>
          </button>

          <!--Clean search button -->
          <button
            class="btn btn-outline-light"
            (click)="clearSearch()"
            [disabled]="filtersForm.get('currentTitleSearch')?.value === ''"
          >
            <i class="bi bi-x-circle-fill text-danger input-group-text p-1"></i>
          </button>

        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <label for="customRange3" class="form-label text-primary">Filter by pages</label>
      <span class="fs-4 ms-3">{{ filtersForm.get('currentPage')?.value}}</span>
      <input
        type="range"
        class="form-range"
        [min]="pagesRange.minPage"
        [max]="pagesRange.maxPage"
        [value]="pagesRange.maxPage"
        step="1"
        id="customRange3"
        formControlName="currentPage"
      >
    </div>
    <div class="col-12 col-sm-6">
      <label for="customRange3" class="form-label text-primary">Filter by gender</label>
      <select
        class="form-select form-select-sm bg-dark-black text-light-orange"
        aria-label=".form-select-sm example"
        formControlName="selectedGenre"
      >
        <option *ngFor="let genre of (genres$ | async)" [value]="genre">{{ genre }}</option>
      </select>
    </div>
  </form>
</section>

<!--Book list section-->
<section class="row g-3 g-sm-5 mt-3">

  <div
    *ngFor="let book of bookList"
    class="col-12 col-md-6 col-lg-4  d-flex justify-content-center"
    [ngClass]="{'opacity-25': book.isReading}"
  >

    <app-book [book]="book"/>

  </div>

</section>
