<div [ngStyle]="{width: config.bookCardSize + 'px'}" class="d-flex">
  <h5
    class="text-truncate"
    *ngIf="config.showTitle"
  >
    {{book.title}}
  </h5>
  <button
    *ngIf="config.showCloseButton"
    class="btn rounded-5 p-0 ms-auto"
    (click)="onSwitchIsReading(book.id)"
  >
    <i class="bi bi-x-circle-fill text-danger"></i>
  </button>
</div>

<div
  class="card rounded-3 text-bg-dark text-center"
  [ngStyle]="{
      'width': config.bookCardSize + 'px',
      'height': config.bookCardSize + 'px'
      }"
>
  <img [src]="book.cover" class="card-img rounded-3  fw-bolder" style="height: 100%; width: 100%"
       [alt]="book.title">

  <div class="card-img-overlay">
    <div ngbDropdown container="body">
      <button *ngIf="config.showMenuButton" type="button" class="btn btn-transparent float-end p-0" ngbDropdownToggle>
        <i class="bi bi-three-dots-vertical text-black  fs-4"></i>
      </button>
      <div ngbDropdownMenu class="bg-dark-black">
        <button ngbDropdownItem>
          <i class="bi bi-info-circle me-1 text-secondary"></i>
          See more
        </button>

        <div class="dropdown-divider"></div>
        <button ngbDropdownItem
                class="text-light-orange"
                (click)="onSwitchIsReading(book.id)"
        >
          <i *ngIf="book.isReading" class="bi bi-x-circle text-danger me-1"></i>
          <i *ngIf="!book.isReading" class="bi bi-plus-circle text-success me-1"></i>
          {{ book.isReading ? 'Remove from ' : 'Move to' }} Reading List
        </button>


      </div>
    </div>

  </div>
</div>

